html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: $white;
  font-size: 20px;
  line-height: 1.6;
  @extend %redhat-400;
  color: $accent;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  @extend %redhat-500;
  font-size: 56px;
  line-height: 1.25;
  color: $title;
}

.shop-button {
  cursor: pointer;
  border: none;
  width: 148px;
  background-color: $brown;
  border: 1px solid rgba(104, 90, 82, 0.19);
  @extend %redhat-500;
  font-size: 18px;
  line-height: 1.33;
  color: $white;
  padding: 16px 31px;
  margin-bottom: 20px;

  &:hover {
    background-color: $white;
    color: $brown;
    border: 1px solid rgba(104, 90, 82, 0.19);
  }
}

@media (max-width: $xl) {

  .title {
    font-size: 48px;
  }
}

@media (max-width: $lg) {

  .title {
    font-size: 40px;
  }
}

@media (max-width: $md) {

  .title {
    font-size: 35px;
  }

  .shop-button {
    padding: 10px;
  }

}

@media (max-width: $sm) {

  .body {
    font-size: 18px;
  }

  .title {
    font-size: 28px;
  }

  .shop-button {
    width: 100%;
    padding: 10px;
  }
}

